.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avg {
  font-size: 48px;
}

.minmax {
  text-align: center;
  font-size: 12px;
  color: #d4d4d4;
}
