body {
  background-image: url("/MarsWeather/mars-1.jpg");
  color: #f5f5f5;
  font-family: "YS Text Web", Helvetica Neue, Arial;
  margin: 0;
  background-position: center;
}

a,
a:visited,
a:hover {
  color: #e8e8e8;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;
}

@media (min-width: 420px) {
  .content {
    margin-left: 10%;
    margin-top: 5%;
  }
}

@media (max-width: 420px) {
  .content {
    padding: 5px;
  }
}

footer {
  text-align: center;
  padding: 10px;
}
